Repository geekleai/ui-demo: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, stylelint

Added home page, started work on demo page
  angular.json
  eslint.config.mjs
  package-lock.json
  package.json
  src/app/app.component.html
  src/app/app.component.scss
  src/app/app.component.ts
  src/app/app.config.ts
  src/app/app.routes.ts
  src/app/core/interceptors/http-error-inerceptor.service.ts
  src/app/core/services/global-error-handler.service.ts
  src/app/features/demo/demo.component.html
  src/app/features/demo/demo.component.ts
  src/app/features/home/header.component.html
  src/app/features/home/header.component.ts
  src/app/features/home/home.component.html
  src/app/features/home/home.component.ts
  src/app/shared/modules/font-awesome/font-awesome-icon-library.module.ts
  src/app/shared/modules/font-awesome/font-awesome-regular-icons-configuration.module.ts
  src/app/shared/modules/font-awesome/font-awesome-solid-icons-configuration.module.ts
  src/assets/fav.jpg
  src/assets/logo.svg
  src/index.html
  src/main.ts
  tsconfig.json
Due: eslint, stylelint

Added title service and sections mocks
  angular.json
  src/app/app.routes.ts
  src/app/core/services/title.service.ts
  src/app/features/demo/demo.component.html
  src/app/features/demo/demo.component.ts
  src/app/features/demo/sections/interactive/interactive.component.html
  src/app/features/demo/sections/interactive/interactive.component.ts
  src/app/features/demo/sections/main-content/main-content.component.html
  src/app/features/demo/sections/main-content/main-content.component.ts
  src/app/features/demo/sections/side-menu/side-menu.component.html
  src/app/features/demo/sections/side-menu/side-menu.component.ts
  src/index.html
  src/main.ts
Due: eslint

Added side menu collapsable items and search component
  src/app/features/demo/sections/side-menu/menu-item.model.ts
  src/app/features/demo/sections/side-menu/search.component.html
  src/app/features/demo/sections/side-menu/search.component.ts
  src/app/features/demo/sections/side-menu/side-menu.component.html
  src/app/features/demo/sections/side-menu/side-menu.component.ts
  src/app/shared/modules/font-awesome/font-awesome-solid-icons-configuration.module.ts
Due: eslint

Added markdown component
  .vscode/launch.json
  README.md
  eslint.config.mjs
  package-lock.json
  package.json
  src/app/app.component.ts
  src/app/app.config.ts
  src/app/features/demo/demo.component.html
  src/app/features/demo/demo.component.ts
  src/app/features/demo/sections/interactive/interactive.component.ts
  src/app/features/demo/sections/main-content/main-content.component.html
  src/app/features/demo/sections/main-content/main-content.component.ts
  src/app/features/demo/sections/markdown/markdown.component.html
  src/app/features/demo/sections/markdown/markdown.component.ts
  src/app/features/demo/sections/side-menu/search.component.ts
  src/app/features/demo/sections/side-menu/side-menu.component.ts
  src/app/features/home/header.component.html
  src/app/features/home/header.component.ts
  src/app/features/home/home.component.ts
  src/main.ts
  src/styles.scss
  tailwind.config.js
Due: eslint, stylelint

Refactored menu items Added sections service
  eslint.config.mjs
  public/favicon.ico
  src/app/app.routes.ts
  src/app/features/demo/demo.component.html
  src/app/features/demo/demo.component.ts
  src/app/features/demo/sections/content/components/interactive/interactive.component.html
  src/app/features/demo/sections/content/components/interactive/interactive.component.ts
  src/app/features/demo/sections/content/components/markdown/markdown.component.html
  src/app/features/demo/sections/content/components/markdown/markdown.component.ts
  src/app/features/demo/sections/side-menu/components/search.component.html
  src/app/features/demo/sections/side-menu/components/search.component.ts
  src/app/features/demo/sections/side-menu/components/side-menu.component.html
  src/app/features/demo/sections/side-menu/components/side-menu.component.ts
  src/app/features/demo/sections/side-menu/menu-item.model.ts
  src/app/features/demo/sections/side-menu/models/section.model.ts
  src/app/features/demo/sections/side-menu/services/sections.service.ts
  src/app/features/demo/sections/side-menu/side-menu.component.html
  src/app/features/demo/sections/side-menu/side-menu.component.ts
  src/app/shared/modules/font-awesome/font-awesome-solid-icons-configuration.module.ts
  src/assets/mocks/sections.json
Due: eslint

Added markdown viewer component and markdown service
  src/app/features/demo/demo.component.html
  src/app/features/demo/sections/content/components/content.component.html
  src/app/features/demo/sections/content/components/content.component.ts
  src/app/features/demo/sections/content/components/markdown/markdown-viewer.component.html
  src/app/features/demo/sections/content/components/markdown/markdown-viewer.component.ts
  src/app/features/demo/sections/content/components/markdown/markdown.component.html
  src/app/features/demo/sections/content/components/markdown/markdown.component.ts
  src/app/features/demo/sections/side-menu/components/side-menu.component.html
  src/index.html
Due: eslint

Continued work on markdowns
  src/app/app.config.ts
  src/app/features/demo/sections/content/components/content.component.html
  src/app/features/demo/sections/content/components/content.component.ts
  src/app/features/demo/sections/content/services/markdowns.service.ts
  src/app/features/demo/sections/side-menu/components/side-menu.component.html
  src/app/features/demo/sections/side-menu/components/side-menu.component.ts
  src/assets/markdowns/intro.md
  src/assets/markdowns/markdown-template.md
  src/assets/markdowns/markdown-template2.md
Due: eslint

Work on styling menu items
  src/app/features/demo/demo.component.html
  src/app/features/demo/sections/side-menu/components/side-menu.component.html
Due: eslint

Continued work on styling menu items
  src/app/features/demo/sections/side-menu/components/side-menu.component.html
Due: eslint

Continued work on styling menu items
  src/app/features/demo/sections/side-menu/components/side-menu.component.html
  src/app/features/demo/sections/side-menu/components/side-menu.component.ts
Due: eslint

Added "reviewed" indicator
  package-lock.json
  src/app/features/demo/sections/side-menu/components/side-menu.component.html
  src/app/features/demo/sections/side-menu/components/side-menu.component.ts
  src/app/features/demo/sections/side-menu/models/section.model.ts
  src/assets/mocks/sections.json
Due: eslint

Implemented search
  src/app/features/demo/sections/side-menu/components/search.component.html
  src/app/features/demo/sections/side-menu/components/search.component.ts
  src/app/features/demo/sections/side-menu/components/side-menu.component.html
  src/app/features/demo/sections/side-menu/components/side-menu.component.ts
Due: eslint

Implemented interactive graph
  package-lock.json
  package.json
  src/app/features/demo/sections/content/components/content.component.html
  src/app/features/demo/sections/content/components/content.component.ts
  src/app/features/demo/sections/content/components/interactive/components/graph.component.html
  src/app/features/demo/sections/content/components/interactive/components/graph.component.ts
  src/app/features/demo/sections/content/components/interactive/components/interactive-section.component.html
  src/app/features/demo/sections/content/components/interactive/components/interactive-section.component.ts
  src/app/features/demo/sections/content/components/interactive/interactive.component.html
  src/app/features/demo/sections/content/components/interactive/interactive.component.ts
  src/app/features/demo/sections/content/services/markdowns.service.ts
  src/app/features/demo/sections/side-menu/components/search.component.ts
Due: eslint

Implemented "on this page" component, added signal store
  package-lock.json
  package.json
  src/app/features/demo/sections/content/components/content.component.ts
  src/app/features/demo/sections/content/components/interactive/components/interactive-section.component.html
  src/app/features/demo/sections/content/components/interactive/components/interactive-section.component.ts
  src/app/features/demo/sections/content/components/interactive/components/on-this-page.component.html
  src/app/features/demo/sections/content/components/interactive/components/on-this-page.component.ts
  src/app/features/demo/sections/content/components/markdown/markdown-viewer.component.html
  src/app/features/demo/sections/content/components/markdown/markdown-viewer.component.ts
  src/app/features/demo/sections/content/store/headers.store.ts
Due: eslint

Adjusted styles
  src/app/features/demo/sections/content/components/interactive/components/chatbot.component.html
  src/app/features/demo/sections/content/components/interactive/components/chatbot.component.ts
  src/app/features/demo/sections/content/components/interactive/components/interactive-section.component.html
  src/app/features/demo/sections/content/components/interactive/components/on-this-page.component.html
  src/app/features/demo/sections/side-menu/components/side-menu.component.html
  src/app/features/demo/sections/side-menu/components/side-menu.component.ts
  src/app/shared/modules/font-awesome/font-awesome-solid-icons-configuration.module.ts
  src/assets/mocks/sections.json
  tailwind.config.js
Due: eslint

Implemented chatbot
  src/app/features/demo/sections/content/components/interactive/components/chatbot.component.html
  src/app/features/demo/sections/content/components/interactive/components/chatbot.component.ts
  src/app/features/demo/sections/content/components/interactive/components/interactive-section.component.html
Due: eslint

Implemented monochrome graph,gray checkmarks and moved chatbot button
  src/app/features/demo/demo.component.html
  src/app/features/demo/demo.component.ts
  src/app/features/demo/sections/content/components/content.component.html
  src/app/features/demo/sections/content/components/interactive/components/chatbot.component.html
  src/app/features/demo/sections/content/components/interactive/components/graph.component.ts
  src/app/features/demo/sections/content/components/interactive/components/interactive-section.component.html
  src/app/features/demo/sections/content/components/interactive/components/interactive-section.component.ts
  src/app/features/demo/sections/side-menu/components/side-menu.component.html
Due: eslint

Implemented Integrations page
  README.md
  package-lock.json
  package.json
  src/app/app.routes.ts
  src/app/features/demo/sections/content/components/markdown/markdown-viewer.component.ts
  src/app/features/demo/sections/side-menu/components/side-menu.component.html
  src/app/features/home/home.component.html
  src/app/features/integrations/repositories.component.html
  src/app/features/integrations/repositories.component.ts
  src/app/shared/modules/font-awesome/font-awesome-brand-icons-configuration.module.ts
  src/app/shared/modules/font-awesome/font-awesome-icon-library.module.ts
  src/app/shared/modules/font-awesome/font-awesome-regular-icons-configuration.module.ts
  src/app/shared/modules/font-awesome/font-awesome-solid-icons-configuration.module.ts
Due: eslint

version bump
  angular.json
  package-lock.json
  package.json
  pnpm-lock.yaml
Due: none

add .node-version
  .node-version
Due: none

update angular budget
  angular.json
Due: none

Fixes according to feedback
  src/app/features/demo/demo.component.html
  src/app/features/demo/sections/side-menu/components/side-menu.component.html
  src/app/features/integrations/repositories.component.html
  src/app/features/integrations/repositories.component.ts
  src/app/shared/modules/font-awesome/font-awesome-brand-icons-configuration.module.ts
Due: eslint

Path conditions:
  eslint: (any of: *.ts) or (any of: *.html)
  stylelint: any of: *.*css
